.header{
    height: 34vw;
    margin: 30px auto;
    background: url('./header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: 50%;
    gap: 1.5vw;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
    font-weight: 500;
}
.header-contents p{
    color: white;
    font-size: 1.5vw;
}
.header-contents button{
    border: none;
    color: #666565;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    border-radius: 50px;
    font-size: 18px;
}
.header-contents button:hover{
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    
}

@media (max-width:1050px)
{
   
    .header-contents{
        max-width: 45%;
    }
    
}

@media (max-width:750px)
{
   
    .header-contents{
        max-width: 60%;
    }
    .header-contents p{
        display: none;
        
    }
    .header-contents button{
        padding: 2vw 4vw;
        font-size: 15px;
    }
}